# Compiled
*.com
*.class
*.py[cod]
*.log
*$py.class
*.cache

# Data
*.core
*.pkl
*.mph*
*.mat
*.h5
*.dat

# Figures, Note that some png will be commited.
*.pdf
*.mp4

# Add cleared comsol files.
!*cleared.mph

# Folders:
__pycache__/
__pypackages__/
.ipynb_checkpoints
_create_figures/_figures
data_preprocessed/
step4_optimize_stimulus/Neurons
source_data/
text_data/
COMSOL_input/
COMSOL_output/
V_ames/
*_ready_*
_all_neurons.csv
stim_files/
comp_files/
/experimental_data/data_*
optim_data/

# C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app